root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
end_of_line = lf
trim_trailing_whitespace = true

[*.js]
indent_size = 2

[*.feature]
indent_size = 2

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
