.idea
.bundle
*.log
*.DS_Store
*.egg-info
web-ui/node_modules
web-ui/app/bower_components
web-ui/target
.tmp
.sass-cache/
dist/
*archive.zip
*.swp
*.swo
web-ui/app/js/generated
web-ui/app/css
test-results.xml
control_tower.html
state.yml
.server.pid
*archive.zip
artifacts/
public/
.DS_Store
screenshot*
*.pyc
env/
.vagrant/
__pycache__/
.virtualenv
# custom config file that can be used with the useragent
pixelated.cfg
service/_trial_temp/
