.idea
*.log
*.DS_Store
node_modules
app/bower_components
.tmp
.sass-cache/
dist/
*archive.zip
*.swp
*.swo
app/js/generated
test-results.xml
control_tower.html
state.yml
.server.pid
*archive.zip
artifacts/
public/
.DS_Store
screenshot*
