.idea
.bundle
*.log
*.DS_Store
web-ui/node_modules
web-ui/app/bower_components
.tmp
.sass-cache/
dist/
*archive.zip
*.swp
*.swo
web-ui/app/js/generated
web-ui/app/css
test-results.xml
control_tower.html
state.yml
.server.pid
*archive.zip
artifacts/
public/
.DS_Store
screenshot*
*.pyc
env/
fake-service/data/mail-sets/
.vagrant/
__pycache__/
.virtualenv
gunicorn.pid
gunicorn.log
