<button id="reply-button-top" class="mail-read-view__header-actions-button mail-read-view__header-actions-button--reply"><i class="fa fa-reply"></i></button>
<button id="view-more-actions" class="mail-read-view__header-actions-button mail-read-view__header-actions-button--more"><i class="fa fa-caret-down"></i></button>
<ul id="more-actions" class="mail-read-view__header-actions-dropdown">
    <li id="reply-all-button-top" class="mail-read-view__header-actions-dropdown-entry">{{t 'Reply to All'}}</li>
    <li id="delete-button-top" class="mail-read-view__header-actions-dropdown-entry">{{t 'Delete this message'}}</li>
</ul>
