<button id="reply-button-top" class="no-style"><i class="fa fa-reply"></i></button>
<button id="view-more-actions" class="no-style"><i class="fa fa-caret-down"></i></button>
<ul id="more-actions">
    <li><span id="reply-all-button-top">{{t 'Reply to All'}}</span></li>
    <li><span id="delete-button-top">{{t 'Delete this message'}}</span></li>
</ul>
