<li><input type="checkbox" id="toggle-check-all-emails"/></li>
<li><input type="button" id="mark-selected-as-read" value="{{t 'mark-as-read'}}" disabled="disabled"/></li>
<li><input type="button" id="mark-selected-as-unread" value="{{t 'mark-as-unread'}}" disabled="disabled"/></li>
<li><input type="button" id="delete-selected" value="{{t 'delete'}}" disabled="disabled"/></li>
<li><input type="button" id="archive-selected" value="{{t 'archive'}}" disabled="disabled"/></li>
<li id="pagination-trigger" class="right"></li>
