<li><input type="checkbox" id="toggle-check-all-emails"/></li>
<li><input type="button" id="mark-selected-as-read" value="{{t 'Mark as read'}}" disabled="disabled"/></li>
<li><input type="button" id="mark-selected-as-unread" value="{{t 'Mark as unread'}}" disabled="disabled"/></li>
<li><input type="button" id="delete-selected" value="{{t 'Delete'}}" disabled="disabled"/></li>
<li><input type="button" id="archive-selected" value="{{t 'Archive'}}" disabled="disabled"/></li>
<li id="pagination-trigger" class="right"></li>
<li id="refresh-trigger" class="right"></li>
