<li><input type="checkbox" id="toggle-check-all-emails"/></li>
<li><input type="button" id="delete-selected" value="{{t 'delete-permanently'}}" disabled="disabled"/></li>
<li><input type="button" id="recover-selected" value="{{t 'move-to-inbox'}}" disabled="disabled"/></li>
<li id="pagination-trigger" class="right"></li>
