<li><input type="checkbox" id="toggle-check-all-emails"/></li>
<li><input type="button" id="delete-selected" value="{{t 'Delete permanently'}}" disabled="disabled"/></li>
<li><input type="button" id="recover-selected" value="{{t 'Move to Inbox'}}" disabled="disabled"/></li>
<li id="pagination-trigger" class="right"></li>
<li id="refresh-trigger" class="right"></li>
