/* Pixelated Color Palette - don't change these! */
$dark_slate_gray: #3E3A37;
$light_gray: #C2C2C2;
$lighter_blue: #91C2D1;
$light_blue: #3DABC4;
$dark_blue: #178CA6;
$bullet-blue: #5cacde;
$middle_blue: #83EAEA;
$light_orange: #FF9C00;
$dark_orange: #FF7902;


/* Side nav background color */
$navigation_background: $dark_slate_gray;

/* Action buttons and links */
$action_buttons: $light_blue;

/* Primary Highlight*/
$primary_highlight: $light_orange;

/* Logo color*/
$logo_color: $light_orange;

/* Unread count dialog bubble background color */
$secondary_callout: darken($primary_highlight, 5);

/* Grayscale */
$contrast: #EEE;
$white: #FFF;
$dark_white: #FAFAFA;
$lighter_gray: #DDD;
$medium_light_grey: #999;
$medium_grey: #777;
$medium_dark_grey: #666;
$dark_grey: #333;
$black: #000;
$top_pane: $contrast;
$total_count_bg: #C0B9B9;
$background_dropdown_grey: #f0f0f0;
$dark_grey_text: #4a4a4a;

$background_light_grey: #F5F5F5;
$border_light_grey: #D9D9D9;
$shadow: rgba(0,0,0,0.10);

/* Feedback to Users */
$warning: #F7E8AF;
$search-highlight: #FFEF29;

/* Light gray indicator icons */
$indicator_icon_color: $light_gray;

$error: #D93C38;
$attention: #F6A41C;
$success: #50BA5B;

$will_be_encrypted: $success;
$wont_be_encrypted: $attention;
$recipients_font_color: #828282;

/* Attachments */
$attachment_text: #555;
$attachment_icon: lighten($attachment_text, 30);
$attachment_size: lighten($attachment_text, 30);
$attachment_area_background: #F5F5F5;
$attachment_area_border: #D9D9D9;
