<li>
    <div id="attachment-upload-item-progress" class="progress"><div class="progress-bar progress-bar-success"></div></div>
    <a>{{ this.name }} <span class="attachment-size">({{ formatSize this.size}})</span><i id="attachment-upload-item-abort" class="fa fa-close remove-icon"></i></a>
</li>
