<div id="attachment-list" class="buttons-group columns compose-view__attachments">
    <input id="fileupload" type="file" name="attachment" hidden>

    <!-- The container for the uploaded files -->
    <div class="compose-view__attachments-wrapper">
        <ul id="attachment-list-item" class="compose-view__attachments-list">
            {{#each attachments }}
                {{> attachment_item this }}
            {{/each }}
        </ul>
        <ul id="attachment-upload-item" class="compose-view__attachments-list compose-view__attachments-list--upload"></ul>
    </div>

</div>
