<button class="close-mail-button">
  <i class="fa fa-times"></i>
</button>
<div class="floatlabel">
  <label class="floatlabel" for="subject">Subject</label>
  <input class="floatlabel" name="subject" type="text" id="subject" value="{{subject}}" placeholder="{{t 'Subject'}}" tabindex="1"/>
</div>
<div class="floatlabel">
  <label class="floatlabel" for="text-box">Body</label>
  <textarea class="floatlabel" name="body" id="text-box" placeholder="{{t 'Body'}}" tabindex="2">{{body}}</textarea>
</div>


<div class="buttons-group columns">
  <button id="send-button" tabindex="6"><i class="fa fa-send"></i></button>
</div>
