<button class="close-mail-button">
  <i class="fa fa-times"></i>
</button>
<div class="floatlabel">
  <span id="feedback-subject">Feedback</span>
</div>
<div class="floatlabel">
  <label class="floatlabel" for="text-box">Body</label>
  <textarea class="floatlabel" name="body" id="text-box" placeholder="{{t 'feedback-placeholder'}}" tabindex="2">{{body}}</textarea>
</div>


<div class="buttons-group columns">
  <button id="send-button" tabindex="6">{{t 'Submit Feedback'}} </button>
</div>
