<div id="recipients-fields" style="display:none">
    <div id='recipients-to-area' class="recipients-area input-container columns large-12 no-padding">
        <input class="recipients-navigation-handler"/>
        <label class="column large-1">{{t 'TO'}}: </label>
        <input type="text" tabindex="3"/>
    </div>

    <div id="recipients-cc-area" class="recipients-area input-container columns large-12 no-padding">
        <input class="recipients-navigation-handler"/>
        <label class="column large-1">{{t 'CC'}}: </label>
        <input type="text" tabindex="4"/>
    </div>

    <div id="recipients-bcc-area" class="recipients-area input-container columns large-12 no-padding">
        <input class="recipients-navigation-handler"/>
        <label class="column large-1">{{t 'BCC'}}: </label>
        <input type="text" tabindex="5"/>
    </div>
</div>