<div class="reply-container columns small-12 large-12">
  <button id="reply-button" class="column small-12 large-4">{{t 'Reply'}} <i class="fa fa-reply"></i></button>
  <button id="reply-all-button" class="column small-12 large-4">{{t 'reply-to-all'}} <i class="fa fa-reply-all"></i></button>
  <button id="forward-button" class="column small-12 large-4">{{t 'Forward'}} <i class="fa fa-mail-forward"></i></button>
  <div id="reply-box" style="display:none"></div>
</div>
