<div id="upload-error">
    <i class="fa fa-close close-icon"></i>
    <span id="upload-error-message">Upload failed. This file exceeds the 1MB limit.</span>
    <a href="#" id="upload-file-button">Choose another file</a>
    <a href="#" id="dismiss-button">Dismiss</a>
</div> 
