<div id="upload-error" class="compose-view__attachments-error">
    <i id="upload-error-close" class="fa fa-close compose-view__attachments-error-close"></i>
    <span id="upload-error-message"  class="compose-view__attachments-error-message">Upload failed. This file exceeds the 1MB limit.</span>
    <a href="#" id="upload-file-button">Choose another file</a>
    <a href="#" id="dismiss-button">Dismiss</a>
</div>
