.message-panel {
  width: 100%;
  margin: 10px auto;
  position: fixed;
  z-index: 10000;
  text-align: center;
  span{
    padding: 5px 60px;
    &.success {
        background: $warning;
        color: darken($warning, 50%);
        border: 1px solid darken($warning, 10%);
        @include box-shadow(1px 1px 3px darken($warning, 60%));
    }
    &.error {
        font-weight: bold;
        color: white;
        background: $error;
        border: 1px solid darken($error, 10%);
        @include box-shadow(1px 1px 3px darken($error, 60%));
    }
  }
}
