/* Side nav background color */
$navigation_background: #3E3A37;

/* Action buttons and links */
$action_buttons: #3dabc4;

/* Primary Highlight*/
$primary_highlight: #FF9C00;

/* Logo color*/
$logo_color: #FF9C00;

/* Unread count dialog bubble background color */
$secondary_callout: darken($primary_highlight, 5);

/* Grayscale */
$contrast: #EEE;
$top_pane: #EAEAEA;
$total_count_bg: #C0B9B9;

/* Feedback to Users */
$warning: #F7E8AF;
$search-highlight: #FFEF29;

$error: #D72A25;
$attention: #F6A40A;
$success: #2DAB49;

$will_be_encrypted: #41cd60;
$wont_be_encrypted: #F6A40A;
