/* Pixelated Color Palette - don't change these! */
$dark_slate_gray: #3E3A37;
$light_blue: #3DABC4;
$dark_blue: #178CA6;
$light_orange: #FF9C00;
$dark_orange: #FF7902;


/* Side nav background color */
$navigation_background: $dark_slate_gray;

/* Action buttons and links */
$action_buttons: $light_blue;

/* Primary Highlight*/
$primary_highlight: $light_orange;

/* Logo color*/
$logo_color: $light_orange;

/* Unread count dialog bubble background color */
$secondary_callout: darken($primary_highlight, 5);

/* Grayscale */
$contrast: #EEE;
$top_pane: $contrast;
$total_count_bg: #C0B9B9;

/* Feedback to Users */
$warning: #F7E8AF;
$search-highlight: #FFEF29;

$error: #D93C38;
$attention: #F6A41C;
$success: #50BA5B;

$will_be_encrypted: #41cd60;
$wont_be_encrypted: #F6A40A;
