// COMPOSE BUTTON 
#compose {
  margin-bottom: 5px;
  padding-right: 4px;
  #compose-trigger {
    width: 100%;
    display: inline-block;
    padding: 5px;
    #compose-mails-trigger {
      background: $action_buttons;
      color: #FFF;
      padding: 10px 30px;
      text-align: center;
      font-weight: 400;
      font-size: 1.2em;
      @include btn-transition;
      &:hover {
        background: lighten($action_buttons, 10%);
        cursor: pointer;
      }
    }
  }
}

// COMPOSE PANE
#compose-box, #draft-box, #reply-box {
  div.compose {
    position: relative;
  }
  margin: 5px 0 50px 30px;
  padding: 0;
  .input-container {
    border-bottom: 1px solid #DDD;
    padding: 1px;
  }
  label {
    color: #AAA;
    padding: 0.5rem;
    cursor: text;
    display: inline-block;
    padding: 10px;
  }
  label.floatlabel {
    padding: 0.4rem !important;
    position: absolute;
    font-size: 0.6rem;
    transition: all 0.1s linear;
    opacity: 0;
    font-weight: bold;
  }
  label.showfloatlabel {
    color: #64BCD0 !important;
    top: -0.3rem;
    opacity: 1;
  }
  input, textarea {
    margin: 0;
    border: none;
    transition: all 0.1s linear;
  }
  input.showfloatlabel, textarea.showfloatlabel {
    padding-top: 1rem !important;
  }
  input {
    &#subject {
      font-size: 1.6875rem;
      line-height: 1.4;
    }
  }
  textarea {
    border-bottom: 2px solid #DDD;
    min-height: 400px;
    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  &.reply-box, &.forward-box {
    margin: 0;
    h4 {
      font-size: 0.9em;
      font-style: italic;
      color: #777;
      margin: 2px 0;
      clear: both;
      cursor: pointer;
      &:hover {
        background: $contrast;
      }
    }
    textarea {
      min-height: 200px;
      margin: 10px 0;
    }
    p {
      padding: 5px;
      margin: 10px 0;
      font-style: italic;
      cursor: pointer;
      &:hover {
        background: $contrast;
      }
    }
  }

  button.close-mail-button {
    margin: 1px;
  }

  @include recipients;
}

#reply-box {
  @include recipients;
}
