@import "compass/css3";
@import "reset";
@import "foundation";
@import "colors";
@import "mixins";
@import "alerts";
@import "read";
@import "reply";
@import "compose";
@import "security";
@import "mascot";
@import "styles";

html {
    height:100%;
}
body {
    min-height:100%;
    overflow: hidden;
    background: $white;
}
header#main {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.text-right {
  text-align: right;
}
