.security-status {
  margin: 0 0 5px;
  clear: both;
  span {
    display: inline-block;
    padding: 2px 5px;
    white-space: nowrap;
    background: $success;
    color: #FFF;
    &:before {
      font-family: FontAwesome;
    }
    &.encrypted {
      &:before {
        content: "\f023 ";
      }
      &.encryption-error {
        background: $attention;
        &:before {
          content: "\f023 \f057";
        }
      }
    }
    &.signed {
      &:before {
        content: "\f00c";
      }
      &.signature-not-trusted {
        background: $error;
        &:before {
          content: "\f05e";
        }
      }
    }
    &[class^=not-], &.signature-expired, &.signature-revoked {
      background: $attention;
      &:before {
        content: "\f05e"
      }
    }
    &.not-encrypted {
      &:before {
        content: "\f13e ";
      }
    }
  }
}
