@font-face {
  font-family: 'News Cycle';
  src: url('assets/fonts/NewsCycleRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle';
  src: url('assets/fonts/NewsCycleBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
