body {
    font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.2em;
    background: white;
    color: #333;
    padding: 0;
    margin: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    box-sizing: border-box;
    word-wrap: break-word;
}
