@import "compass/css3";

body {
  display: block;
  overflow: scroll !important; 
}

nav {
  position: fixed;    
  z-index: 10;
  height: 50px;
  width: 100%;
  background-color: #3e3a37;
  color: white;
}

ul li {
  display: inline;
}

ul.left, ul.right {
  padding: 12px;
  margin: 0px 25px;
  font-weight: bold;
}

ul.right {
  li {
    margin: 8px;
  }
}

section.guide-section {
  display: block;
  height: 550px;
  overflow-y: auto;
  padding: 82px 32px;

  &:nth-child(even) {
    background: white
  }
  
  &:nth-child(odd) {
    background: #E5E5E3
  }
}
