<header>
  <span id="user-settings-close"><i class="fa fa-close"></i></span>
   <i class="fa fa-user"></i>
   <h1>User Settings</h1>
   <i class="shortcut-label"></i>
</header>
<p>{{ account_email }}</p>
