--index-url https://pypi.python.org/simple/

https://launchpad.net/dirspec/stable-13-10/13.10/+download/dirspec-13.10.tar.gz
--allow-external dirspec --allow-unverified dirspec
u1db==13.09
pyasn1==0.1.8
requests==2.0.0
srp==1.0.4
whoosh==2.5.7
-e 'git+https://github.com/pixelated-project/leap_pycommon.git@develop#egg=leap.common'
-e 'git+https://github.com/pixelated-project/leap_auth.git#egg=leap.auth'
-e 'git+https://github.com/pixelated-project/soledad.git@develop#egg=leap.soledad.common&subdirectory=common/'
-e 'git+https://github.com/pixelated-project/soledad.git@develop#egg=leap.soledad.client&subdirectory=client/'
-e 'git+https://github.com/pixelated-project/soledad.git@develop#egg=leap.soledad.server&subdirectory=server/'
-e 'git+https://github.com/pixelated-project/keymanager.git@develop#egg=leap.keymanager'
-e 'git+https://github.com/pixelated-project/leap_mail.git@develop#egg=leap.mail'
-e .
