--index-url https://pypi.python.org/simple/

-e 'git+https://github.com/pixelated/python-gnupg.git@key_extension_and_sign#egg=gnupg'
pyasn1==0.1.9
requests==2.11.1
srp==1.0.6
whoosh==2.6.0
Twisted==16.1.1
-e 'git+https://0xacab.org/pixelated/leap_pycommon.git@develop#egg=leap.common'
-e 'git+https://0xacab.org/pixelated/bitmask-dev.git@feat_fetch_remote_on_expiry#egg=leap.bitmask'
-e 'git+https://0xacab.org/pixelated/soledad.git@develop#egg=leap.soledad.common&subdirectory=common/'
-e 'git+https://0xacab.org/pixelated/soledad.git@develop#egg=leap.soledad.client&subdirectory=client/'
-e 'git+https://0xacab.org/pixelated/soledad.git@develop#egg=leap.soledad.server&subdirectory=server/'
-e .
