pyasn1==0.1.7
gnupg==1.4.0
Twisted==14.0.2
service-identity==14.0.0
klein==0.2.3
requests==2.5.0
srp==1.0.5
dirspec==13.10
--allow-external dirspec
--allow-unverified dirspec
u1db==13.09
--allow-external u1db
--allow-unverified u1db
leap.keymanager==0.3.8
leap.soledad.common==0.6.0-26-g509f76c
leap.soledad.client==0.6.0-26-g509f76c
leap.mail==0.3.9-1-gc1f9c92
whoosh==2.6.0
