behave==1.2.4
selenium==2.44.0
mock==2.0.0
httmock==1.2.2
mockito==0.5.2
funkload==1.16.1
pep8==1.5.7
tempdir==0.6
coverage
crochet==1.4.0
poster==0.8.1
locustio==0.7.3
-e 'git+https://github.com/pixelated/leap_auth.git#egg=leap.auth'
