body {
  background: #3fadc5;
  background: -moz-linear-gradient(center, circle cover, #83eaea 0%, #3fadc5 100%);
  background: -webkit-gradient(linear, center center, 0px, center center, 100%, color-stop(0%, #83eaea), color-stop(100%, #3fadc5));
  background: -webkit-linear-gradient(center, circle cover, #83eaea 0%, #3fadc5 100%);
  background: -o-linear-gradient(center, circle cover, #83eaea 0%, #3fadc5 100%);
  background: -ms-linear-gradient(center, circle cover, #83eaea 0%, #3fadc5 100%);
  background: linear-gradient(center, circle cover, #83eaea 0%, #3fadc5 100%);
  background-color: #3fadc5; }

.reveal {
  color: #4a4a4a;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #4a4a4a;
}

.reveal a {
  color: #ff9c00;}

.reveal a:hover {
  color: #fd7923;
}

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 80%;
  max-height: 80%;
}

.reveal section img {
  background: none;
  border: 0 none;
  box-shadow: none;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #ff9c00; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #ff9c00; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #ff9c00; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #ff9c00; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #fd7923; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #fd7923; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #fd7923; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #fd7923; }
