body {
  background-color: #178ca6;
  background-repeat: repeat;
  background-position: top right;
}

.reveal {
  color: #fff;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #fff;
}

.reveal a {
  color: #ff9c00;}

.reveal a:hover {
  color: #fd7923;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #ff9c00; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #ff9c00; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #ff9c00; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #ff9c00; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #fd7923; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #fd7923; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #fd7923; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #fd7923; }
