<!DOCTYPE html>
<html xmlns:t="http://twistedmatrix.com/ns/twisted.web.template/0.1">
<head>
    <title>Pixelated - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/pixelated.css" />
    <link rel="stylesheet" type="text/css" href="/static/opensans.css" />
</head>
<body>
<div class="content">
    <div class="login">

        <img class="logo" src="/static/pixelated-logo-orange.svg" alt="Pixelated logo"/>

        <p t:render="error_msg" class="error" ></p>


        <form class="standard" id="login_form" action="/login" method="post">
            <input t:render="csrftoken" type="hidden" name="csrftoken" id="csrftoken"><t:attr name="value"><t:slot name="csrftoken" /></t:attr></input>
            <input type="text" name="username" id="email" class="text-field" placeholder="username" tabindex="1"
                   autofocus="" />
            <input type="password" name="password" id="password" class="text-field" placeholder="password"
                   tabindex="2" autocomplete="off" />

            <input type="submit" name="login" value="Login" class="button" tabindex="3" />

        </form>
    </div>
    <div class="disclaimer">
        <div t:render="disclaimer"></div>
    </div>
</div>
</body>

</html>
