Source: pixelated-user-agent
Maintainer: Pixelated Team <pixelated-team@thoughtworks.com>
Section: python
Priority: optional
Build-Depends: build-essential, debhelper (>= 7.4.3), libsqlcipher-dev, libsqlite3-dev, libffi-dev, nodejs, nodejs, pixpybuild, python-all (>= 2.6.6-3), python-dev, python-setuptools (>= 0.6b3), ruby-compass
Standards-Version: 3.9.1
Homepage: http://pixelated-project.org
Vcs-Git: https://github.com/pixelated-project/pixelated-user-agent.git
Vcs-Browser: https://github.com/pixelated-project/pixelated-user-agent
X-Python-Version: >= 2.7

Package: pixelated-user-agent
Architecture: all
Depends: libffi6, libsqlcipher0, libssl-dev, python (>= 2.7), python (<< 2.8)
Description: API to serve the pixelated front-end requests
 Pixelated User Agent Service
 ============================
 .
 This is the service for the Pixelated User Agent. The primary purpose of this is to integrate well with the Pixelated Provider and provide all the capabilities necessary for the UI to work well.
 .
 The aim is to support these resources/endpoints:
 .
 ```
 GET    /mails
 DELETE /mails
 POST   /mails
 PUT    /mails
 POST   /mails/read
 .
 GET    /mail/:id
 DELETE /mail/:id
 POST   /mail/:id/star
 POST   /mail/:id/unstar
 POST   /mail/:id/replied
 POST   /mail/:id/unreplied
