.mail-count {
    background: $white;
    border-radius: 50%;
    border: 1px solid $white;
    color: $white;
    font-size: 0.7em;
    font-weight: 700;
    left: 0;
    margin-left: 5px;
    opacity: 0.95;
    padding: 0px 5px 0;
    position: absolute;
    top: 1px;
}
