<ul id="logout">
    <form id="logout-form" method="POST" action="{{ logout_url }}">
        <input type="hidden" name="csrftoken" value="{{ csrf_token }}" />
        <li>
          <div class="fa fa-sign-out"></div>
          <i class="shortcut-label"></i> {{t 'logout'}}
      	</li>
    </form>
</ul>
